
/*base reset for browsers*/

*
{margin: 0;
padding: 0;}

/* background image formatting, and 
accessibility for mobile devices*/

body {
    height: 100%;
    background-image: url("bg5.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(233, 188, 203);
    font-family: 'Lato', sans-serif;
}

@media only screen and (max-width: 980px) {
    body { background-image: url(bg4mobile.jpg); }
    }

/*top navigation bar*/

a {
    text-decoration: none;
    color: #222
}

a:hover {
    text-shadow: 1px 1px 7px rgb(245, 201, 106);
    opacity: 0.8;
    text-decoration: underline;
}

a:visited {
    color: inherit;
}

li {
    list-style: none;
    display: inline;
    padding: 25px;
    font-size: 16px;
    opacity: 0.75;
}

#navbar {
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    width: auto;
    justify-content: center;
    background-color: rgb(208, 234, 238);
    padding: 10px;
   border-bottom: rgb(238, 151, 141);
   border-bottom-style: groove;
}

/*Main title text and description*/

#title-sec {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-family: 'Lato', sans-serif;
    color: rgb(77, 75, 75);
    font-weight: bold;
    font-size: 55px;
}

#caption {
    font-family: 'Lato', sans-serif;
    color: rgb(77, 75, 75);
    padding: 1.5vw;
    font-size: 20px; 
    font-style: italic;
}
/*footer with Github icon/link*/

#gitplug {
    bottom: 0;
    position: absolute;
    height: 5vw;
    width: 100%;
    text-align: center;
    color: rgb(202, 201, 201)
}


#lakephoto {
    display: block;
    margin: auto;
    height: 50%;
    width:50%;
    border-style: solid;
    border-width: 10px;
    border-color: whitesmoke;
    box-shadow: 1px 1px 1px 1px rgb(66, 66, 60);
}

#lakephoto:hover {
    box-shadow: 2.5px 2.5px 2.5px 2.5px#222;
    cursor: pointer;
    opacity: 0.9;
}

h3, h4, #caption2 {
    text-align: center;
    margin: auto;
    align-items: center;
}

#card {
    display: flex;
    flex-direction: column;

}

h3, h4, #caption {
    padding: 8px;
}