
/*base reset for browsers*/

*
{margin: 0;
padding: 0;}

/* background image formatting, and 
accessibility for mobile devices*/

body {
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: whitesmoke;
    font-family: 'Lato', sans-serif;
}

/*top navigation bar*/

a {
    text-decoration: none;
    color: #222;
    transition: 0.3s;
}

a:hover {
    text-shadow: 1px 1px 7px rgb(245, 201, 106);
    opacity: 0.8;
    text-decoration: underline;
    cursor: pointer;
}

a:visited {
    color: inherit;
}

li {
    list-style: none;
    display: inline;
    padding: 25px;
    font-size: 16px;
    opacity: 0.75;
}

#navbar {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    width: auto;
    justify-content: center;
    background-color: rgb(197, 197, 197);
    padding: 10px;
   border-bottom: rgb(0, 0, 0);
   border-bottom-style: groove;
}

/*Main title text and description*/

#title-sec {
    text-align: center;
    margin-top: 25px;
    display: fixed;
    margin-left: 140px;
}

h1 {
    font-family: 'Lato', sans-serif;
    color: rgb(77, 75, 75);
    font-weight: bold;
    font-size: 55px;
    padding-top: 25px;
    background-color: rgb(223, 223, 223);
}

#caption {
    font-family: 'Lato', sans-serif;
    color: rgb(77, 75, 75);
    padding: 1.5vw;
    font-size: 20px; 
    font-style: italic;
}
/*footer with Github icon/link*/

#gitplug {
    bottom: 0;
    position: relative;
    height: 5vw;
    width: 100%;
    text-align: center;
    color: rgb(202, 201, 201);
    margin-top: 5px;
}


.photo {
    display: block;
    margin: auto;
    margin-top: 40px;
    width:1000px;
    border-radius: 10px;
}

.smallerphoto {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 650px;
    border-radius: 10px;

}

.date {
    color: rgb(75, 82, 143);
}

h2 {
    color:rgb(65, 117, 109);
    margin: auto;
    margin-top: 15px;
    text-align: center;
}

/* Left side nav bar of hikes*/
h3 {
margin: 90px 0 0 0;
text-align: center;
text-decoration: underline;
background-color: rgb(221, 248, 230);
}



#hikebar {
    position: fixed;
float: left;
height: 100%;
width: fit-content;
background-color: rgb(197, 197, 197);
overflow: scroll;
}

#hikelist {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#topnavlist {
    margin-left: 140px;
}

#mainbody {
    margin-left: 140px;
    overflow: scroll;
}

.trailinfo {
    font-weight: bold;
    padding: 5px;
    color: rgb(78, 131, 133);
    text-decoration: underline;
}

.imagecap, h4 {
    text-align: center;
    padding: 10px;
    margin-bottom: 5px;
}

.hikedesc {
    margin: 20px auto;
    padding: 10px;
    text-align: center;
}

h1 {
    position: relative;
    
}

.hikedetails {
    font-size: smaller;
    font-style: italic;
}
